/* frame header start */
.frame_header {
	background-color: #fff;
	padding: 30vh 0 45px;
	align-items: center;
	display: flex;
	min-height: 75vh;
	overflow: hidden;
}
.frame_header .hader_nav {
	margin: 50px 0 15px;
	flex-wrap: wrap;
	display: flex;
	z-index: 9999;
	position: relative;
}
.frame_header .hader_nav.active {z-index: 9 !important;}
.frame_header .humbermenu {
	font-family: 'Nanum Pen Script', cursive;
	margin: 0 75px 0 0;
	flex-wrap: wrap;
	display: flex;
}
.frame_header .humbermenu li {
	font-size: 24px;
	color: #75C336;
}
.frame_header .humbermenu li i {
	font-size: 18px;
	margin: 0 6px;
}
.frame_header .humbermenu li:last-child i {display: none;}
.frame_header .humbermenu li a {color: #51554E;}
.frame_header .shear_group {
    padding: 2px 0 0;
    display: flex;
}
.frame_header .shear_group a {
	text-transform: uppercase;
    font-size: 12px;
    color: #51554E;
    display: flex;
	margin-right: 20px;
    align-items: center;
}
.frame_header .shear_group a i {
	font-size: 17px;
    color: #75C336;
    margin-right: 6px;
}
.frame_header .header_article {
	background-image: url('../images/bg_images/framebg_one.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
    padding: 45px 15px;
    display: flex;
    align-items: center;
    text-align: center;
	position: relative;
	justify-content: center;
}
.frame_header .header_article:before {
	background-image: url('../images/bg_images/framebg_two.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    content: '';
    bottom: 0;
    right: -70px;
    width: 120px;
    height: 115px;
}
.frame_header h2 {
	font-family: 'Nanum Pen Script', cursive;
    color: #75C336;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: bold;
}
.frame_header .article_content {
	max-width: 320px;
    width: 100%;
    font-size: 10px;
    margin-top: 45px;
}
.frame_header .video_box {
	justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 100%;
}
.frame_header .header_video {
	background-image: url(../images/bg_images/frame_header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 460px;
    padding: 20px 0;
	margin-top: 45px;
    width: 100%;
    display: flex;
    min-height: 320px;
    align-items: center;
    justify-content: center;
}
.frame_header .header_video iframe {
	max-width: 360px;
    border: none;
    width: 100%;
    height: 180px;
}
@media screen and (max-width: 991px) {
	.frame_header {padding: 45px 0;}
}
@media screen and (max-width: 576px) {
	.frame_header .header_article:before {display: none;}
	.frame_header .humbermenu {margin: 0 25px 0 0;}
	.frame_header .humbermenu li {font-size: 21px;}
	.frame_header h2 {
		line-height: 36px;
		font-size: 36px;
		margin-bottom: 0;
	}
	.frame_header .header_article p {font-size: 13px;}
	.frame_header .header_article {
		background-size: 100% 100%;
		min-height: auto;
		padding: 15px;
	}
	.frame_header .article_content {max-width: 235px;}
	.frame_header .header_video {
		background-size: 100% 100%;
		padding: 35px 0;
		min-height: auto;
		margin-top: 35px;
	}
	.frame_header .header_video iframe {
		max-width: 225px;
		height: auto;
	}
}
/* frame header end */



/* description section start */
.description_section {
	overflow: hidden;
	background: #fff;
	padding: 45px 0;
}
.description_section h3 {
	font-family: 'Nanum Pen Script', cursive;
    color: #75C336;
    font-size: 36px;
    font-weight: 600;
}
.description_section h2 {
	font-family: 'Nanum Pen Script', cursive;
	color: #51554E;
	font-size: 36px;
	font-weight: 600;
	margin-top: 35px;
}
.description_section .description_article:before {
    background-image: url('../images/bg_images/description_one.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    content: '';
    top: -20px;
    right: -20%;
    width: 125px;
    height: 115px;
}
.description_section ul {margin: 10px 0 45px;}
.description_section li {
	font-size: 14px;
    color: #51554E;
    margin: 30px 0;
    display: flex;
    align-items: flex-start;
}
.description_section li img {
	margin: 0 20px 0 0;
    width: 20px;
}
.description_section .accordion_content {margin: 5px 0;}
.description_section .accordion_content h6.collapsed i {transform: rotate(0);}
.description_section .accordion_content h6 {
	border-bottom: 1px solid #aaa;
	padding: 15px 0;
	font-size: 15px;
	color: #51554E;
	cursor: pointer;
	font-weight: 700;
}
.description_section .accordion_content h6 i {
	vertical-align: middle;
	margin-left: 8px;
    font-size: 20px;
    margin-top: -1px;
    display: inline-block;
	transform: rotate(90deg);
}
.description_section .card-body {padding: 15px 0;}
.description_section .card-body p {
	font-size: 14px;
	margin: 0;
}
@media screen and (max-width: 576px) {
	.description_section {padding: 20px 0;}
	.description_section .accordion_content h6 {
		font-size: 14px;
		padding: 10px 0;
	}
	.description_section h2,
	.description_section h3 {font-size: 35px;}
}
/* description section end */



/* schedule section start */
.schedule_section {
	overflow: hidden;
	background: #fff;
	padding: 45px 0;
}
.schedule_section .section_title {margin-bottom: 45px;}
.schedule_section .schedule_content {position: relative;}
.schedule_section .schedule_content:before {
	background-image: url('../images/bg_images/schedulebg_one.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    content: '';
    top: -120px;
    right: -165px;
    width: 150px;
    height: 150px;
}
.schedule_section .schedule_content:after {
	background-image: url('../images/bg_images/schedulebg_two.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    content: '';
    bottom: 30px;
    left: -160px;
    width: 223px;
    height: 60px;
}
.schedule_section .schedule_content {
	background-image: url('../images/bg_images/schedule_bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedule_section .schedule_box .title h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	color: #51554E;
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
}
.schedule_section .schedule_box .title h4:after {
	display: inline-block;
	background: #51554E;
	position: absolute;
	height: 2px;
	content: '';
	width: 80%;
	left: 10%;
	bottom: -14px;
}
.schedule_section .schedule_box .title small {
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	color: #51554E;
}
.schedule_section .class_future {
	justify-content: center;
	margin-top: 25px;
	flex-wrap: wrap;
	display: flex;
}
.schedule_section .future_title {margin: 15px 25px;}
.schedule_section .future_title h5 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #51554E;
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
}
.schedule_section .future_title h5:after {
	display: inline-block;
	background: #51554E;
	position: absolute;
	height: 2px;
	content: '';
	width: 120%;
	left: -10%;
	bottom: -14px;
}
.schedule_section .future_title small {
	font-size: 12px;
	display: block;
	color: #51554E;
}
@media screen and (max-width: 576px) {
	.schedule_section {padding: 25px 0;}
	.section_title {margin-bottom: 25px;}
	.schedule_section .schedule_content {
		background-color: #FF984D;
		background-image: none;
		padding: 45px 0 20px;
		min-height: auto;
		border-radius: 25px;
	}
	.schedule_section .schedule_box .title small,
	.schedule_section .future_title h5 {font-size: 14px;}
	.schedule_section .schedule_content:after {display: none;}
}
/* schedule section end */



/* time section start */
.time_section {
	padding: 20px 0 45px;
	background: #fff;
	overflow: hidden;
}
.time_section .section_title {margin-bottom: 45px;}
.time_section .time_grid {position: relative;}
.time_section .time_grid:before {
	background-image: url('../images/bg_images/timebg_one.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    content: '';
	top: -20px;
    right: -30%;
    width: 125px;
    height: 120px;
}
.time_section .time_grid .time_box {
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    padding: 35px;
    text-align: center;
    display: flex;
	margin: 25px 0;
    align-items: center;
    justify-content: center;
}
.time_section .time_grid .owl-stage .owl-item:nth-child(2n+1) .time_box {
	background-image: url('../images/bg_images/frame_timeOne.svg');
}
.time_section .time_grid .owl-stage .owl-item:nth-child(2n+0) .time_box {
	background-image: url('../images/bg_images/frame_timeTwo.svg');
}
.time_section .time_grid .time_box h5 {
	text-transform: uppercase;
    font-weight: 600;
    color: #51554E;
    font-size: 18px;
}
.time_section .time_grid .time_box h6 {
	text-transform: uppercase;
    font-weight: 600;
    color: #51554E;
    font-size: 16px;
    text-align: left;
}
.time_section .time_grid .time_box ul {
	margin: 30px 25px 25px 0;
}
.time_section .time_grid .time_box li {
	font-size: 14px;
    color: #51554E;
    margin: 10px 0;
}
.time_section .time_grid .time_box p {
	margin-bottom: 8px;
	font-size: 16px;
}
.time_section .time_grid .time_box a:hover {
	background: #75C336;
	color: #fff;
}
.time_section .time_grid .time_box a {
	box-shadow: 0px 10px 25px rgb(0 0 0 / 20%);
    font-family: 'Nanum Pen Script', cursive;
    background-color: #fff;
    border-radius: 8px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    min-width: 140px;
    margin-right: 25px;
    transition: all .2s;
	display: inline-block;
	padding: 3px 12px 2px;
}
.time_section .time_request {
	text-align: center;
    font-size: 14px;
    width: 100%;
	padding: 15px;
}
.time_section .time_request a:hover {
	background: #5D9B2B;
	color: #fff;
}
.time_section .time_request a {
	box-shadow: 0px 10px 25px rgb(0 0 0 / 20%);
    font-family: 'Nanum Pen Script', cursive;
    background-color: #75C336;
    border-radius: 8px;
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    min-width: 145px;
    margin-left: 15px;
    transition: all .2s;
	display: inline-block;
	padding: 4px 12px 3px;
}
@media screen and (max-width: 576px) {
	.time_section .section_title {margin-bottom: 40px;}
	.time_section {padding: 20px 0 0;}
	.time_section .time_grid .time_box {
		background-size: contain;
		padding: 60px 35px;
		min-height: auto;
		margin: 0;
	}
	.time_section .time_grid .time_box h5 {font-size: 16px;}
	.time_section .time_grid .time_box p {
		margin-bottom: 3px;
		font-size: 14px;
	}
	.time_section .time_grid .time_box ul {margin: 15px 0 0;}
	.time_section .time_grid .time_box li {
		font-size: 12px;
		margin: 8px 0;
	}
	.time_section .time_request {font-size: 14px;}
}
/* time section end */



/* course section start */
.course_section {
	position: relative;
	background: #fff;
	padding: 45px 0;
}
.course_section:before {
	background-image: url('../images/bg_images/coursebg_one.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    content: '';
	top: 120px;
    right: 0;
    width: 345px;
    height: 280px;
}
.course_section .course_content {position: relative;}
.course_section .course_content:after {
	background-image: url(../images/bg_images/coursebg_three.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    content: '';
    right: 0;
    bottom: -45px;
    width: 165px;
    height: 165px;
}
.course_section .course_watch {
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
}
.course_section .course_watch img {
	margin: 0 30px 25px 0;
    max-width: 375px;
}
.course_section .course_title {margin-bottom: 25px;}
.course_section .course_title h2 {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    color: #75C336;
    margin-top: -8px;
}
.course_section .course_title h4 {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #51554E;
    margin: 12px 0;
    letter-spacing: 1px;
}
.course_section .course_title h5 {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #51554E;
}
.course_section .course_watch .watch {
	font-family: 'Nanum Pen Script', cursive;
	background: #75C336;
	border-radius: 4px;
	color: #fff;
	font-size: 24px;
	padding: 5px 25px;
	margin-top: 10px;
	display: inline-block;
}
.course_section .course_watch .watch i {
	border: 1px solid #fff;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
	width: 20px;
    height: 20px;
    margin-top: -5px;
    padding-left: 2px;
	vertical-align: middle;
}
.course_section .rating {
	color: #FFAE34;
	font-size: 22px;
}
.course_section li {
	font-size: 14px;
    color: #51554E;
    margin: 30px 0;
    display: flex;
    align-items: flex-start;
}
.course_section li img {
	margin: 0 20px 0 0;
    width: 20px;
}
.course_section .more_btn {
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
	font-family: 'Nanum Pen Script', cursive;
    background-color: #75C336;
    border-radius: 8px;
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	min-width: 165px;
	margin-top: 25px;
	padding: 5px 20px;
	transition: all .2s;
}
.course_section .more_btn:hover {background: #5D9B2B;}
@media screen and (max-width: 576px) {
	.course_section {padding: 30px 0;}
	.course_section:before {display: none;}
	.course_section .course_title h2 {font-size: 22px;}
	.course_section .course_title h5,
	.course_section .course_title h4 {font-size: 15px;}
	.course_section ul {display: none;}
}
/* course section end */



/* YouTubePopUp style start hear */
.YouTubePopUp-Close {
    background: url('../vendors/youtube_popup/images/close.png');
    background-position: center !important;
    background-color: #75C336 !important;
    background-size: 50% 50% !important;
	background-repeat: no-repeat;
    z-index: 9999 !important;
    margin-right: -15px;
    top: 7% !important;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.YouTubePopUp-Close:hover {opacity: 1 !important;}



/* class section start */
.class_section {
	position: relative;
	background: #fff;
	padding: 45px 0;
	overflow: hidden;
}
.class_section .owl-carousel {position: relative;}
.class_section .owl-carousel .owl-nav {
	justify-content: space-between;
    position: absolute;
    top: 50%;
	height: 0;
    left: -40px;
    z-index: 99;
    display: flex;
    align-items: center;
    width: calc(100% + 80px);
}
.class_section .owl-carousel .owl-nav .owl-prev,
.class_section .owl-carousel .owl-nav .owl-next {
	line-height: 47px;
    border: none;
    width: 20px;
    height: 40px;
}
.class_section .owl-carousel .owl-nav .owl-prev:hover,
.class_section .owl-carousel .owl-nav .owl-prev:focus,
.class_section .owl-carousel .owl-nav .owl-next:hover,
.class_section .owl-carousel .owl-nav .owl-next:focus {
    outline: none;
	border: none;
}
.class_section .owl-carousel .owl-nav span {
	display: inline-block;
	font-family: serif;
    line-height: 15px;
    color: #75C336;
    height: 40px;
    font-size: 75px;
}
.class_section .class_card {
    box-shadow: 0px 2px 15px rgba(59, 77, 84, 0.15);
    border-radius: 6px;
	margin: 15px 0;
	overflow: hidden;
}
.class_section .class_img {
	border-radius: 4px;
	overflow: hidden;
	height: 220px;
}
.class_section .class_img img {
	transition: all .2s;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.class_section .class_img:hover img {transform: scale(1.05);}
.class_section .class_content {
	border-radius: 0 0 6px 6px;
	border: 1px solid #75C336;
	border-top: none;
	padding: 15px 20px;
}
.class_section .class_content p {margin-bottom: 10px;}
.class_section .class_content h5 {
	font-family: 'Nanum Pen Script', cursive;
    margin: 5px 0 16px;
    font-weight: 500;
    font-size: 24px;
    color: #51554E;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.class_section .class_content .rating {
	margin-bottom: 10px;
    font-size: 21px;
    color: #FFAE34;
}
.class_section .class_content .price {text-align: right;}
@media screen and (max-width: 576px) {
	.class_section {padding: 20px 0 25px;}
	.class_section .class_img {height: auto;}
	.class_section .class_content h5 {margin: 5px 0 10px;}
	.class_section .class_content .price {font-size: 15px;}
}
/* class section end */